* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#main{
	background-color: white;
	font-family: serif;
}

#login{
	background-color: rgb(68,134,249);
	border-radius: 0;
	color: white;
	font-size: 13px;
	font-weight: bold;
	font-family: "Liberation Sans",arial;
	padding: 7.5px 13px;
	border: 0;
	margin: 0;
	vertical-align: middle;
}

#logo{
	display: block;
	width: 325px;
	margin: 0 auto;
}

#lookup{
	position: relative;
	left: 7px;
	top: 32px;
	height:46px;
	width: 586px;
	margin: 0 auto;
	border-radius: 2px;
	border: 1px solid rgb(227,227,227);
	background-color: white;
	box-shadow: 0px 1px 1px rgb(200,200,200);
}

#lookup:hover {
	box-shadow:0px 2px 2px 2px rgb(227,227,227);
}

.first a, .second a{
	position:relative;
	text-decoration: none;
	font-size: 12px;
	font-weight: lighter;
	font-family: arial;
	letter-spacing: ;
	color: rgb(40,40,40);

}

.first a:hover, .second a:hover{
	text-decoration: underline;
}

.navigation{
	max-width: 800px;
}

.first{
	position: relative;
	margin-left: 18px;
	top: 12px;
}

.first a{
	margin-right: 15px;
}

.second{
	position: relative;
	top: -6px;
	left: 1586px;
}

.second a{
	margin-left: 10px;
}

.third{
	position: relative;
	left: 1706px;
	top: -30px;
}

.third a img{
	vertical-align: middle;
	width:20px;
	margin-right: 15px;
	opacity: 0.5;
}

.third a img:hover{
	opacity: 1;
}

.coreelements{
	position: relative;
	left:34.2%;
	top: 100px;
	width: 50%;
	max-width: 590px;
}

.grouping{
	position: relative;
	top: 63px;
	left: 26.1%;
}

.clk{
	border-radius: 2px;
	background-color: rgb(244,244,244);
	color: rgb(117,117,117);
	border: 1px solid rgb(244,244,244);
	font-family: arial;
	font-weight: bold;
	font-size: 13px;
	padding: 10px 16px;
	margin: 0 1.5px;
}
.clk:hover{
	color:black;
	border: 1px solid rgb(200,200,200);
	box-shadow: 0px 1px 1px rgb(200,200,200);
}

.foot{
	position: fixed;
	background-color: rgb(244,244,244);
	bottom: 0;
	width:100%;
	height: 40px;

}

li{
	display: inline-block;
	margin-bottom: 30px;
}

li a{
	font-family: arial, serif;
	font-size:12px;
	text-decoration: none;
	color: rgb(80,80,80);
}

body{
	overflow: scroll;
}
