* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

#main{
	color: gray;
	background-color: white;
	font-family: arial, serif;
}


body{
	margin: 0 auto;
	overflow: scroll;
	min-width: 1000px;
}

img {
	position: relative;
	top:133px;
	width: 320px;
	left: 33%;
}

input[type=text]{
	width:480px;
	height:50px;
}

.lookup {
	position: relative;
	top: 100px;
	left:250px;
}

.grouping{
	position: relative;
	top: 130px;
	left: 350px;
}
